.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.heading {
  font-size: 1.8rem;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 62, 197);
}

.para {
  text-align: center;
  color: rgb(112, 112, 112);
}
